{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Resultado de Transcripción
{% endblock %}

{% block content %}
    {% if player.spanish %}
        <p class="text-success">
        El siguiente cuadro muestra algunos resultados de las transcripciones que hiciste.
        En un estudio real, esta tabla no sería mostrada a los jugadores.
        <br>
        La distancia <a href="http://en.wikipedia.org/wiki/Levenshtein_distance">Levenshtein</a> se ve en la última columna.
        Nota que la diferencia entre la longitud del texto dado y la longitud del texto que ingresaste es el límite inferior de la distancia Levenshtein.
    </p>

    <div class="panel panel-success">

        <div class="panel-heading">
                Estadística de las transcripciones
        </div>

        <table class="table">
            <tr>
                <th>Transcripción #</th>
                <th>Longitud del texto dado</th>
                <th>Longitud del texto ingresado</th>
                <th>Distancia Levenshtein </th>
                <th>Ratio para ingreso</th>
            </tr>
            {% for row in table_rows %}
            <tr>
                <td>{{ row.round_number }}</td>
                <td>{{ row.reference_text_length }}</td>
                <td>{{ row.transcribed_text_length }}</td>
                <td>{{ row.distance }}</td>
                <td>{{ row.ratio }}</td>
            </tr>
            {% endfor %}

        </table>
        <p> Se te ha asignado un ratio basado en el desempeño de tu transcripción. Este ratio será usado para determinar tu ingreso en la siguiente actividad.</p>
        {% next_button %}
    </div>
    {% else %}
        <p class="text-success">
        The table below shows some statistics for the transcriptions you have entered.
        In a real study this table would usually not be shown to subjects.
        <br>
        The <a href="http://en.wikipedia.org/wiki/Levenshtein_distance">Levenshtein</a> distance is given in the last column.
        Note that the difference between the length of the given text and the length of
        the text entered is a lower bound on the Levenshtein distance.
    </p>

    <div class="panel panel-success">

        <div class="panel-heading">
                Statistics for transcriptions
        </div>

        <table class="table">
            <tr>
                <th>Transcription #</th>
                <th>Length of given text</th>
                <th>Length of text entered</th>
                <th>Levenshtein distance</th>
                <th>Ratio for income</th>
            </tr>
            {% for row in table_rows %}
            <tr>
                <td>{{ row.round_number }}</td>
                <td>{{ row.reference_text_length }}</td>
                <td>{{ row.transcribed_text_length }}</td>
                <td>{{ row.distance }}</td>
                <td>{{ row.ratio }}</td>
            </tr>
            {% endfor %}

        </table>
        <p> You have been assigned a ratio based on the accuracy of your transcription. This ratio will be used to
            determine your income for the next activity.</p>
        {% next_button %}
    </div>
    {% endif %}

    

{% endblock %}