{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        En este juego serás agrupado aleatoriamente en un grupo de {{ Constants.players_per_group }} participantes.
        En esta oportunidad, el Estado invertirá parte de los impuestos recaudados de tu grupo en una obra pública que tendrá beneficios para la comunidad.
        Tú debes decidir el monto que destinarás como impuesto, esta cantidad puede ser cualquier número entre 0 (Si no pagas impuestos y te quedas con tu ingreso inicial)
        y 3 (Si pagas los impuestos que te corresponden).
        Recuerda que tu ganancia por la obra pública depende también de la decisión del otro integrante de tu grupo. Si tú decides pagar impuestos
        pero tu compañero no, entonces él se beneficiará más porque ganó sin invertir nada adicional.
    </p>
    <p>
        Las ganancias de la obra pública son calculadas de la siguiente manera: Las contribuciones de
        los {{ Constants.players_per_group }} participantes se suman, este monto luego es multiplicado por {{ Constants.multiplier }}
        y el resultado final se divide de igual manera entre los {{ Constants.players_per_group }} participantes.
    </p>
    <p>
        Tu ganancia final equivale a lo que obtengas por la obra pública, más el dinero que no destinaste como impuesto.
    </p>

</div>

