{% load otree_tags staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instrucciones
    </h3>

    <p>
        <b>
        El objetivo de este juego es que maximices tus ganancias.
        </b>
        Debes decidir cuánto dinero destinarás como impuestos, sabiendo que legalmente el monto oficial es el 20% de tu ingreso.  En otras
        palabras, para que no tengas problemas con las autoridades, deberías destinar S/. 3 como tributos.

        Sin embargo, ten en cuenta que las auditorías son al azar y es probable que no seas atrapado.

        Por otro lado, de ser atrapado, tendrías que pagar el doble del monto que evadiste.
    </p>
    <p>
        Tu ganancia en cada ronda es calculada de la siguiente manera:
    </p>
    <p>
        Si decides no tributar nada, te llevas tu ingreso inicial.
    </p>
    <p>
        Si decides tributar parcial o totalmente, te llevas tu ingreso inicial menos el monto destinado a impuestos.
    </p>
    <p>
        No olvides que existe la posibilidad de auditoría por lo que podrías perder más de lo que pudiste haber ahorrado en impuestos.
    </p>

</div>

